<h2>Add content for: Step <%= @step.step_number %> <%= @step.title %></h2>

<div id="add-content">
  <%=  form_for :content, url: tasklist_step_contents_path, :method => :POST do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@content.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @content.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <p>
      <%= f.radio_button :content_type, "paragraph" %>
      <%= f.label :content_type, "Paragraph" %>
      <%= f.radio_button :content_type, "list" %>
      <%= f.label :content_type, "List" %>
    </p>
    <p>
      <%= f.label :text, "Text / link text" %><br>
      <%= f.text_area :text %>
    </p>
    <p>
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </p>
    <p>
      <%= f.label :context, "Context e.g. cost details" %><br>
      <%= f.text_field :context %>
    </p>

    <p>
      <%= f.label :style, "List style" %><br>
      <%= f.select :style, ['required', 'choice']%>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %> <br>

</div>

<%= link_to 'Back to tasklist', tasklist_path(@tasklist) %>
