<%= form_for :tasklist, url: tasklists_path do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :base_path %><br>
    <%= form.text_field :base_path %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :meta_description %><br>
    <%= form.text_area :meta_description %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
