<div class="grid-row">
  <div class="column-half">
    <h1>Edit tasklist: <br>
      <%= @tasklist.title %>
    </h1>

    <%= form_for :tasklist, url: tasklist_path, :method => :PUT do |form| %>
      <% if @tasklist.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@tasklist.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @tasklist.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
      </p>

      <p>
        <%= form.label :base_path %><br>
        <%= form.text_field :base_path %>
      </p>

      <p>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
      </p>

      <p>
        <%= form.label :meta_description %><br>
        <%= form.text_area :meta_description %>
      </p>

      <p>
        <%= form.submit %>
      </p>
    <% end %>


    <p><%= link_to 'Back to tasklist', tasklist_path(@tasklist) %> | <%= link_to 'Back to tasklists index', tasklists_path %></p>
  </div>

  <div class="column-half">

    <div class="image"><%= image_tag "tasklist_section_edit_visual.png" %></div>
  </div>
</div>
