
<div class="grid-row">
  <div class="column-two-thirds">
    <h1><%= @tasklist.title %>
      <span class="editor"><%= link_to "Edit", edit_tasklist_path(@tasklist) %></span>
    </h1>

    <p><%= @tasklist.description %></p>

    <div data-module="gemtasklist" class="tasklist">
      <p><%= link_to 'Add a step', new_tasklist_step_path(@tasklist) %></p>
      <ol class="tasklist_groups">
        <% @tasklist.steps.each do |step| %>
          <li class="tasklist_group">
            <span class="tasklist_circle">
              <span class="tasklist_circle_inner"><%= step.step_number %></span>
            </span>
            <div class="tasklist_step">
              <div class="tasklist_header">
                  <h2 class="tasklist_title"><%= step.title %> <span class="editor"><%= link_to 'Edit step', edit_tasklist_step_path(@tasklist, step) %> | <%= link_to 'Delete step', [step.tasklist, step], method: :delete, data: { confirm: 'Are you sure?' } %></span></h2>
              </div>
              <div class="tasklist_panel step_panel">
                <% unless step.description.empty? %>
                  <p class="tasklist_paragraph"><%= step.description %></p>
                <% end %>


                <ol class="sortable tasklist_links_list<% unless step.optional? %> required<% end %>">
                  <% step.contents.each do |content| %>
                    <div class="content_item" data-id="<%= content.id %>">
                      <% case content.content_type %>
                      <% when "paragraph" %>
                        <p class="tasklist_content"><%= content.text %> <span class="editor"><%= link_to 'Edit', edit_tasklist_step_content_path(@tasklist, step, content) %> | <%= link_to 'Delete', tasklist_step_content_path(@tasklist, step, content), method: :delete, data: { confirm: 'Are you sure?' } %></span></p>

                      <% when "link" || "list"%>
                        <li class="tasklist_link tasklist_content">
                          <a class="tasklist_link_item" href="<%= content.url %>"><%= content.text %></a>
                          <% unless content.context.empty? %><span class="tasklist_context"> <%= content.context %></span><% end %>
                            <span class="editor"><%= link_to 'Edit', edit_tasklist_step_content_path(@tasklist, step, content) %> | <%= link_to 'Delete', tasklist_step_content_path(@tasklist, step, content), method: :delete, data: { confirm: 'Are you sure?' } %></span>
                        </li>
                      <% end %>
                    </div>

                  <% end %>
                </ol>
                <p class="editor"><%= link_to 'Add content', new_tasklist_step_content_path(@tasklist, step) %></p>
                <p class="editor"><%= link_to 'Reorder content', sort_tasklist_step_contents_path(@tasklist, step) %></p>
              </div>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
  </div>

  <div class="column-one-third">
    <button onclick="toggleJSON()" id="json_button">Show JSON</button>
    <p><a href="">View raw JSON</a></p>
    <div id="json_content">
    <p>JSON</p>
    {<br>
      "title": "<%= @tasklist.title %>",<br>
      "base_path": "<%= @tasklist.base_path %>",<br>
      "description": "<%= @tasklist.description %>",<br>
      "tasklist": {<br>
        "groups": [<br>
        <% @tasklist.steps.each do |step| %>
          [<br> (beginning of step)
            {<br>
              "title": "<%= step.title %>",<br>
              "optional": <%= step.optional %>,<br>
              "contents": [ //for each paragraph/link<br>
              <% step.contents.each do |content| %>
                {<br>
                  "type": "<%= content.content_type %>",<br>
                  <% case content.content_type %>
                  <% when "paragraph" %>
                    "text": "<%= content.text %>",<br>
                  <% when "list"%>
                    <strong>list</strong>
                    "style": "<%= content.style %>",<br>
                    "contents": [ //for loop through Step.Content.links<br>
                      {<br>
                        "href": "<%= content.url %>",<br>
                        "text": "<%= content.text %>",<br>
                        "context": "<%= content.context %>"<br>
                      }<br>
                    ]<br>
                  <% end %>
                }<br>
              <% end %>,
              ]<br>
            }<br>
          ]<br>(end of step)
          <% end %>
        ]<br>
      }<br>
    }<br><br>
    </div>

  </div>

</div>


<div class="grid-row">
  <div class="column-two-thirds">
<p>
  <strong>Tasklist title:</strong>
  <%= @tasklist.title %>
</p>

<p>
  <strong>Base path:</strong>
  <%= @tasklist.base_path %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tasklist.description %>
</p>

<p>
  <strong>Meta description:</strong>
  <em><%= @tasklist.meta_description %></em>
</p>



<hr>

<h2>Steps</h2>

<p><%= link_to 'Add a step', new_tasklist_step_path(@tasklist) %></p>

<% @tasklist.steps.each do |step| %>

  <h3><strong>Step <%= step.step_number %> <%= step.title %></strong></h3>

  <p>
    <%= link_to 'Edit step', edit_tasklist_step_path(@tasklist, step) %> | <%= link_to 'Delete step', [step.tasklist, step],
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
  </p>

  <p>
    <strong>Step number:</strong>
    <%= step.step_number %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= step.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= step.description %>
  </p>
  <p>
    <strong>Optional:</strong>
    <%= step.optional %>
  </p>

  <h2>Content</h2>

  <p><%= link_to 'Add content', new_tasklist_step_content_path(@tasklist, step) %></p>
  <p><%= link_to 'Reorder content', tasklist_step_contents_path(@tasklist, step) %></p>
<div id="contents" data-url=" ">
  <% step.contents.each do |content| %>

      <div class="test">
        <p>Position: <%= content.position %></p>
      <p>
        <% case content.content_type %>
        <% when "paragraph" %>
        <strong>paragraph</strong>
        <% when "link"%>
        <strong>link</strong>
        <% when "list"%>
        <strong>list</strong>
        <% else %>
        <strong>Content type not set</strong>
        <% end %>
      </p>

      <p>
        <strong>Type:</strong>
        <%= content.content_type %>
      </p>
      <p>
        <strong>Text:</strong>
        <%= content.text %>
      </p>
      <p>
        <strong>Url:</strong>
        <%= content.url %>
      </p>

      <% unless content.context.empty? %>
      <p>
        <strong>Context:</strong>
        <%= content.context %>
      </p>
      <% end %>

      <% if content.content_type.eql?("list") %>
      <p>
        <strong>List style:</strong>
        <%= content.style %>
      </p>

    <% end %>

    <p>
      <%= link_to 'Edit content', edit_tasklist_step_content_path(@tasklist, step, content) %> |
      <%= link_to 'Delete content', tasklist_step_content_path(@tasklist, step, content),
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
    </p>
    <p>==================================</p>
</div>
  <% end %>

<% end %>
</div>
<hr />



<%= link_to 'Edit', edit_tasklist_path(@tasklist) %> | <%= link_to 'Back to tasklists', tasklists_path %>
</div>
</div>
