<h1>Tasklist</h1>
<p>
  <strong>Tasklist title:</strong>
  <%= @tasklist.title %>
</p>

<p>
  <strong>Base path:</strong>
  <%= @tasklist.base_path %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tasklist.description %>
</p>

<p>
  <strong>Meta description:</strong>
  <em><%= @tasklist.meta_description %></em>
</p>

<p>JSON</p>
{<br>
  "title": "<%= @tasklist.title %>",<br>
  "base_path": "<%= @tasklist.base_path %>",<br>
  "description": "<%= @tasklist.description %>",<br>
  <!-- "tasklist": {<br>
    "groups": [<br>
      [<br>
        {<br>
          "title": "<step.title>",<br>
          "contents": [ //for each paragraph/link<br>
            {<br>
              "type": "paragraph",<br>
              "text": "Most people can start learning to drive when they’re 17."<br>
            },<br>
            {<br>
              "type": "list",<br>
              "style": "required",<br>
              "contents": [ //for loop through Step.Content.links<br>
                {<br>
                  "href": "/vehicles-can-drive",<br>
                  "text": "Check what age you can drive"<br>
                },<br>
                {<br>
                  "href": "/legal-obligations-drivers-riders",<br>
                  "text": "Requirements for driving legally"<br>
                }<br>
              ]<br>
            }<br>
          ]<br>
        }<br>
      ]<br>
    ]<br>
  }<br> -->
}<br><br>

<h2>Steps</h2>
<% @tasklist.steps.each do |step| %>


  <p>
    <strong>Step number:</strong>
    <%= step.step_number %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= step.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= step.description %>
  </p>
  <p>
    <strong>Optional:</strong>
    <%= step.optional %>
  </p>
  <p>
    <%= link_to 'Edit step', edit_tasklist_step_path(@tasklist, step) %> | <%= link_to 'Delete step', [step.tasklist, step],
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %>
  </p>

  <h2>Content</h2>

  <%= step.contents do |content| %>
    <p>
      <strong>Type:</strong>
      <%= content.type %>
    </p>
    <p>
      <strong>Text:</strong>
      <%= content.text %>
    </p>
    <p>
      <strong>Url:</strong>
      <%= content.url %>
    </p>
    <p>
      <strong>Context:</strong>
      <%= content.context %>
    </p>
    <p>
      <strong>List style:</strong>
      <%= content.style %>
    </p>
  <% end %>

  <h2>Add content:</h2>
  <%= link_to 'Add content', new_tasklist_step_content_path(@tasklist, step) %>
<% end %>
  <hr />


<h2>Add a step:</h2>

<%= form_for ([@tasklist, @tasklist.steps.build]) do |f| %>
  <p>
    <%= f.label :step_number, "Step number" %><br>
    <%= f.text_field :step_number %>
  </p>
  <p>
    <%= f.label :title, "Title" %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    Optional step? <%= f.check_box :optional %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_tasklist_path(@tasklist) %> | <%= link_to 'Back to tasklists', tasklists_path %>
