
  <p>
    <strong>Step number:</strong>
    <%= step.step_number %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= step.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= step.description %>
  </p>
  <p>
    <strong>Optional:</strong>
    <%= step.optional %>
  </p>
  <p>
    <%= link_to 'Edit step', edit_tasklist_step_path(@tasklist, step) %> | <%= link_to 'Delete step', [step.tasklist, step],
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %>
  </p>

  <hr />
