
  <p>
    <strong>Step number:</strong>
    <%= step.step_number %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= step.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= step.description %>
  </p>
  <p>
    <strong>Optional:</strong>
    <%= step.optional %>
  </p>
  <p>
    <%= link_to 'Edit step', edit_tasklist_step_path(@tasklist, step) %> | <%= link_to 'Delete step', [step.tasklist, step],
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %>
  </p>

  <h2>Content</h2>


  <h2>Add content:</h2>

  <%= form_for([@tasklist, @tasklist.steps.contents.build]) do |f| %>
    <p>
      <%= f.radio_button :content_type, "paragraph" %>
      <%= f.label :content_type, "Paragraph" %>
      <%= f.radio_button :content_type, "link" %>
      <%= f.label :content_type, "Link" %>
    </p>
    <p>
      <%= f.label :text, "Text / link text" %><br>
      <%= f.text_area :text %>
    </p>
    <p>
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </p>
    <p>
      <%= f.label :context, "Context e.g. cost details" %><br>
      <%= f.text_field :context %>
    </p>

    <p>
      <%= f.label :style, "List style" %><br>
      <%= f.select :style, ['required', 'choice']%>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>

  <hr />
